{% extends 'base.html' %}
{% block title %}Добавить цитату{% endblock %}
{% block content %}
<h2>Добавить цитату</h2>
<form method="post" class="card card-body shadow">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary">Сохранить</button>
  <a href="{% url 'quotes:random' %}" class="btn btn-secondary ms-2">Отмена</a>
</form>

<p class="mt-3">
  <small>Не нашли нужный источник?
    <a href="{% url 'quotes:add_source' %}?next={{ request.path }}" class="btn btn-sm btn-outline-primary">
      + Добавить новый
    </a>
  </small>
</p>
{% endblock %}